<h1 class="title is-1">All Products</h1>

<%= link_to 'Categories', categories_path, class: 'button is-link' %>

<div class="section">
  <h2 class="title is-2">Birthday Card</h2>
  <div class="columns is-multiline">
    <% @birthday_products.each do |product| %>
      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <% if product.image.present? %>
              <figure class="image is-4by3">
                <%= image_tag product.image %>
              </figure>
            <% end %>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= link_to product.name, product_path(product) %></p>
                <p class="subtitle is-6"><%= number_to_currency(product.price) %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="section">
  <h2 class="title is-2">Christmas Card</h2>
  <div class="columns is-multiline">
    <% @christmas_products.each do |product| %>
      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <% if product.image.present? %>
              <figure class="image is-4by3">
                <%= image_tag product.image %>
              </figure>
            <% end %>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= link_to product.name, product_path(product) %></p>
                <p class="subtitle is-6"><%= number_to_currency(product.price) %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="section">
  <h2 class="title is-2">Thanksgiving Card</h2>
  <div class="columns is-multiline">
    <% @thanksgiving_products.each do |product| %>
      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <% if product.image.present? %>
              <figure class="image is-4by3">
                <%= image_tag product.image %>
              </figure>
            <% end %>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= link_to product.name, product_path(product) %></p>
                <p class="subtitle is-6"><%= number_to_currency(product.price) %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="section">
  <h2 class="title is-2">Valentine Card</h2>
  <div class="columns is-multiline">
    <% @valentine_products.each do |product| %>
      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <% if product.image.present? %>
              <figure class="image is-4by3">
                <%= image_tag product.image %>
              </figure>
            <% end %>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= link_to product.name, product_path(product) %></p>
                <p class="subtitle is-6"><%= number_to_currency(product.price) %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
