<h1 class="title is-1"><%= params[:category] ? params[:category] : 'All Products' %></h1>

<!-- Navigation Bar -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to 'Home', root_path, class: 'navbar-item' %>
    <% if @user %>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    <% end %>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'About', about_path, class: 'navbar-item' %>
      <%= link_to 'Contact', contact_path, class: 'navbar-item' %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <% if @user %>
          <p>Welcome, <%= @user.username %>!</p>
          <%= form_with(url: logout_path, method: :delete, class: 'button_to') do %>
            <%= submit_tag 'Logout', class: 'button is-link' %>
          <% end %>
          <%= link_to 'Cart', cart_path, class: 'button is-link' %>
          <% if @user.admin? %>
            <%= link_to 'Admin Dashboard', admin_dashboard_path, class: 'button is-warning' %>
          <% end %>
        <% else %>
          <%= link_to 'Login', login_path, class: 'button is-link' %>
          <%= link_to 'Sign Up', signup_path, class: 'button is-link' %>
          <%= button_to 'Cart', signup_path, method: :get, class: 'button is-link', data: { confirm: 'Please sign up to view your cart.' } %>
        <% end %>
      </div>
    </div>
  </div>
</nav>

<!-- Search and Filter Form -->
<%= form_with url: products_path, method: :get, local: true, class: 'search-form' do %>
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" name="query" placeholder="Search for products...">
    </div>
    <div class="control">
      <button class="button is-link" type="submit">Search</button>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <div class="select">
        <select name="filter">
          <option value="">All Products</option>
          <option value="on_sale">On Sale</option>
          <option value="new">New Products</option>
          <option value="recently_updated">Recently Updated</option>
        </select>
      </div>
    </div>
    <div class="control">
      <button class="button is-link" type="submit">Filter</button>
    </div>
  </div>
<% end %>

<!-- Category Buttons -->
<div class="buttons">
  <%= link_to 'All Products', products_path, class: 'button is-link' %>
  <% @categories.each do |category| %>
    <%= link_to category.name, products_path(category: category.name), class: 'button is-link' %>
  <% end %>
</div>

<!-- Product Listing -->
<% if @products.present? %>
  <div class="section">
    <h2 class="title is-2"><%= params[:category] ? params[:category] : 'All Products' %></h2>
    <div class="columns is-multiline">
      <% @products.each do |product| %>
        <div class="column is-one-quarter">
          <div class="card">
            <div class="card-image">
              <% if product.image.present? %>
                <figure class="image is-4by3">
                  <%= image_tag product.image %>
                </figure>
              <% end %>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4"><%= link_to product.name, product_path(product) %></p>
                  <p class="subtitle is-6"><%= number_to_currency(product.price) %></p>
                </div>
              </div>
              <% if @user %>
                <%= button_to 'Add to Cart', add_to_cart_path(product_id: product.id), method: :post, class: 'button is-link' %>
              <% else %>
                <%= button_to 'Add to Cart', signup_path, method: :get, class: 'button is-link', data: { confirm: 'Please sign up to add items to your cart.' } %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= paginate @products %>
<% else %>
  <p>No products found.</p>
<% end %>
