<!DOCTYPE html>
<html>
<head>
  <title>Cardshop</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
</head>

<body>
  <header>
    <nav>
    <% if user_signed_in? %>
    <p>Welcome, <%= current_user.username %>!</p>
    <%= form_with(url: destroy_user_session_path, method: :delete, class: 'button_to') do %>
      <%= submit_tag 'Logout', class: 'button is-link' %>
    <% end %>
    <%= link_to 'Cart', cart_path, class: 'button is-link' %>
  <% else %>
    <%= link_to 'Login', new_user_session_path, class: 'button is-link' %>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'button is-link' %>
  <% end %>
    </nav>
  </header>

  <%= yield %>
</body>
</html>