<!DOCTYPE html>
<html>
<head>
  <title>Cardshop</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
</head>

<body data-user-id="<%= current_user.try(:id) %>">
  <header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <!-- Replace the existing Home link with this line -->
        <%= link_to 'Home', root_path, class: 'navbar-item', data: { turbolinks: false } %>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <%= link_to 'About', about_path, class: 'navbar-item', data: { turbolinks: false } %>
          <%= link_to 'Contact', contact_path, class: 'navbar-item', data: { turbolinks: false } %>
        </div>

        <div class="navbar-end">
          
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <div class="navbar-item">
                <a class="button is-primary" href="<%= admin_dashboard_path %>">Admin Dashboard</a>
              </div>
            <% end %>
            <div class="navbar-item">
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { turbolinks: false }, class: "button is-light" %>
            </div>
            <div class="navbar-item">
              <%= link_to 'Cart', cart_path, class: 'button is-link', data: { turbolinks: false } %>
            </div>
          <% else %>
            <div class="navbar-item">
              <%= link_to 'Login', new_user_session_path, class: "button is-primary", data: { turbolinks: false } %>
            </div>
            
            <div class="navbar-item">
              <%= link_to 'Sign up', new_user_registration_path, class: "button is-light", data: { turbolinks: false } %>
            </div>
          <% end %>
        </div>
      </div>
    </nav>
  </header>

  <% flash.each do |key, message| %>
    <div class="notification is-<%= key %>"><%= message %></div>
  <% end %>

  <%= yield %>
</body>
</html>
